//   /* 
//      ACA COMIENZA EL CSS 
//      DE LA PÁGINA "CONTACTO"
//   */


//variables y mixins

$color-negro: #000000;
$verde-navbar: #D2FF96;
$nar-osc: #D17B0F;
$nar-clar: #E8D33F;
$amarillo: #EDFF7A;
$limon: #D2FF96;
//


.divContactos {
    padding: 10px;

    .titulomensajeContacto {
        background-color: #e8d43fac;
        width: 60%;
        padding-bottom: 20px;
    }

    background-image: linear-gradient(
    rgba(129, 132, 91, 0.459),
    rgba(201, 154, 240, 0.283)
    ),
    url(../img/mapamundi-min.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .form-label {
        font-weight: 500;
        background-color: #d17a0f63;
    }


    .bloqueContacto {
        display: inline-block;
        position: absolute;
        padding-top: 250px;
        // margin: 0;
        top: 150px;
        right: 150px;
        width: 350px;
        height: 250px;
        max-width: 100%;
        background-image: radial-gradient( circle 400px at 6.8% 8.3%,  rgba(255,244,169,1) 0%, rgba(255,244,234,1) 100.2% );
        text-align: center;
        box-sizing: border-box;
        color: rgb(18, 5, 25);
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        
        p {
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: 0;
        }

        @media (max-width: 1000px) {
            display: none;
            // display: inline-block;
            // position: absolute;



        }
    }
}